<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <h1>Service</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus vero nisi eius amet voluptatum
                adipisci quis unde ducimus minus quaerat laborum cumque iusto officiis harum tempora distinctio, vitae
                et assumenda.Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus vero nisi eius amet
                voluptatum adipisci quis unde ducimus minus quaerat laborum cumque iusto officiis harum tempora
                distinctio, vitae et assumenda.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus vero nisi eius amet voluptatum
                adipisci quis unde ducimus minus quaerat laborum cumque iusto officiis harum tempora distinctio, vitae
                et assumenda.Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus vero nisi eius amet
                voluptatum adipisci quis unde ducimus minus quaerat laborum cumque iusto officiis harum tempora
                distinctio, vitae et assumenda.Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus vero
                nisi eius amet voluptatum adipisci quis unde ducimus minus quaerat laborum cumque iusto officiis harum
                tempora distinctio, vitae et assumenda.Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Accusamus vero nisi eius amet voluptatum adipisci quis unde ducimus minus quaerat laborum cumque iusto
                officiis harum tempora distinctio, vitae et assumenda.Lorem ipsum dolor sit amet consectetur adipisicing
                elit. Accusamus vero nisi eius amet voluptatum adipisci quis unde ducimus minus quaerat laborum cumque
                iusto officiis harum tempora distinctio, vitae et assumenda.Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Accusamus vero nisi eius amet voluptatum adipisci quis unde ducimus minus quaerat
                laborum cumque iusto officiis harum tempora distinctio, vitae et assumenda.Lorem ipsum dolor sit amet
                consectetur adipisicing elit. Accusamus vero nisi eius amet voluptatum adipisci quis unde ducimus minus
                quaerat laborum cumque iusto officiis harum tempora distinctio, vitae et assumenda.Lorem ipsum dolor sit
                amet consectetur adipisicing elit. Accusamus vero nisi eius amet voluptatum adipisci quis unde ducimus
                minus quaerat laborum cumque iusto officiis harum tempora distinctio, vitae et assumenda.Lorem ipsum
                dolor sit amet consectetur adipisicing elit. Accusamus vero nisi eius amet voluptatum adipisci quis unde
                ducimus minus quaerat laborum cumque iusto officiis harum tempora distinctio, vitae et assumenda.Lorem
                ipsum dolor sit amet consectetur adipisicing elit. Accusamus vero nisi eius amet voluptatum adipisci
                quis unde ducimus minus quaerat laborum cumque iusto officiis harum tempora distinctio, vitae et
                assumenda.Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus vero nisi eius amet
                voluptatum adipisci quis unde ducimus minus quaerat laborum cumque iusto officiis harum tempora
                distinctio, vitae et assumenda.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus vero nisi eius amet voluptatum
                adipisci quis unde ducimus minus quaerat laborum cumque iusto officiis harum tempora distinctio, vitae
                et assumenda.Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus vero nisi eius amet
                voluptatum adipisci quis unde ducimus minus quaerat laborum cumque iusto officiis harum tempora
                distinctio, vitae et assumenda.Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus vero
                nisi eius amet voluptatumsadipisci quis unde ducimus minus quaerat laborum cumque iusto officiis harum
                tempora distinctio, vitae.</p>
        </div>
    </div>
</div>