<div id="intro" class="pt-5">
    <div class="container-fluid d-flex justify-content-center text-white pt-3">
        <div class="row d-flex justify-content-center text-center mt-5 pt-5">
            <div class="col-md-10">
                <h2 class="display-4 font-weight-bold white-text pt-5 mb-2">Travel</h2>
                <hr class="hr-light">
                <h4 class="white-text my-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Deleniti
                    consequuntur.</h4>
                <button type="button" class="btn btn-outline-white">Read more</button>
            </div>
        </div>
    </div>
</div>

<!--Section: Best Features-->
<div class="container py-5">
    <section id="best-features" class="text-center">
        <h2 class="mb-5 font-weight-bold">Best Features</h2>
        <div class="row d-flex justify-content-center mb-4">
            <div class="col-md-8">
                <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi voluptate
                    hic
                    provident nulla repellat
                    facere esse molestiae ipsa labore porro minima quam quaerat rem, natus repudiandae debitis
                    est
                    sit pariatur.</p>

            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mb-5">
                <i class="fa fa-camera-retro fa-4x text-success"></i>
                <h4 class="my-4 font-weight-bold">Experience</h4>
                <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
                    maiores nam,
                    aperiam minima
                    assumenda deleniti hic.</p>
            </div>
            <div class="col-md-4 mb-1">
                <i class="fa fa-heart fa-4x text-success"></i>
                <h4 class="my-4 font-weight-bold">Happiness</h4>
                <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
                    maiores nam,
                    aperiam minima
                    assumenda deleniti hic.</p>
            </div>
            <div class="col-md-4 mb-1">
                <i class="fa fa-bicycle fa-4x text-success"></i>
                <h4 class="my-4 font-weight-bold">Adventure</h4>
                <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
                    maiores nam,
                    aperiam minima
                    assumenda deleniti hic.</p>
            </div>
        </div>
    </section>
</div>
<!--Section: Best Features-->

<div class="bg-color">
    <div class="row m-0">
        <div class="col-md-6 pl-0">
            <div class="view overlay z-depth-1-half">
                <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg" class="card-img-top" alt="">
                <div class="mask rgba-white-light"></div>
            </div>
        </div>
        <div class="col-md-6 mt-5">

            <h2>Some awesome heading</h2>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis pariatur quod ipsum atque quam
                dolorem voluptate officia sunt placeat consectetur alias fugit cum praesentium ratione sint mollitia,
                perferendis natus quaerat!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis pariatur
                quod ipsum atque quam dolorem voluptate officia sunt placeat consectetur alias fugit cum praesentium
                ratione sint mollitia, perferendis natus quaerat!Lorem ipsum dolor sit amet, consectetur adipisicing
                elit. Blanditiis pariatur quod ipsum atque quam dolorem voluptate officia sunt placeat consectetur alias
                fugit cum praesentium ratione sint mollitia, perferendis natus quaerat!Lorem ipsum dolor sit amet,
                consectetur adipisicing elit. Blanditiis pariatur quod ipsum atque quam dolorem voluptate officia sunt
                placeat consectetur alias fugit cum praesentium ratione sint mollitia, perferendis natus quaerat!</p>
            <button type="button" class="bnt btn-success mt-4">Get it now!</button>

        </div>
    </div>
</div>

<div class="container my-5 py-5">
    <h2 class="h1-responsive font-weight-bold text-center mb-5">Why is it so great?</h2>
    <p class="lead grey-text text-center w-responsive mx-auto mb-5">Lorem ipsum dolor sit amet,
        consectetur
        adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
        ad
        minim veniam.</p>
    <div class="row">
        <div class="col-lg-5 text-center text-lg-left">
            <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/screens-section.jpg"
                alt="Sample image">
        </div>
        <div class="col-lg-7">
            <div class="row mb-3">
                <div class="col-1"> </div>
                <div class="col-xl-10 col-md-11 col-10">
                    <h5 class="font-weight-bold mb-3">Safety</h5>
                    <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit enim ad
                        minima veniam, quis nostrum exercitationem ullam. Reprehenderit maiores aperiam
                        assumenda deleniti hic.</p>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-1"> </div>
                <div class="col-xl-10 col-md-11 col-10">
                    <h5 class="font-weight-bold mb-3">Technology</h5>
                    <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit enim ad
                        minima veniam, quis nostrum exercitationem ullam. Reprehenderit maiores aperiam
                        assumenda deleniti hic.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-1"> </div>
                <div class="col-xl-10 col-md-11 col-10">
                    <h5 class="font-weight-bold mb-3">Finance</h5>
                    <p class="grey-text mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit enim
                        ad minima veniam, quis nostrum exercitationem ullam. Reprehenderit maiores aperiam
                        assumenda deleniti hic.</p>
                </div>
            </div>
        </div>
    </div>
</div>