<div class="cont">
    <form #form="ngForm" (ngSubmit)="registeration(form, register)">
        <div class="form pt-3 sign-in">
            <h2>Create your Account,</h2>
            <label>
                <span>Username</span>
                <input type="text" [ngClass]="((submitted || username.touched) && username.invalid)?'has-danger':''"
                    name="username" #username=ngModel [(ngModel)]="register.username" autocomplete="off" required />
            </label>
            <div class="error-block m-l-160" *ngIf="((submitted || username.touched) && username.invalid)">
                {{showErrorService.showError('username', username.errors)}}
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label>
                        <span>First Name</span>
                        <input type="text"
                            [ngClass]="((submitted || firstname.touched) && firstname.invalid)?'has-danger':''"
                            name="firstname" #firstname=ngModel [(ngModel)]="register.firstname" autocomplete="off"
                            required />
                    </label>
                    <div class="error-block pl-2" *ngIf="((submitted || firstname.touched) && firstname.invalid)">
                        {{showErrorService.showError('firstname', firstname.errors)}}
                    </div>
                </div>
                <div class="col-md-6">
                    <label>
                        <span>Last Name</span>
                        <input type="text"
                            [ngClass]="((submitted || lastname.touched) && lastname.invalid)?'has-danger':''"
                            name="lastname" #lastname=ngModel [(ngModel)]="register.lastname" autocomplete="off"
                            required />
                    </label>
                    <div class="error-block pl-2" *ngIf="((submitted || lastname.touched) && lastname.invalid)">
                        {{showErrorService.showError('lastname', lastname.errors)}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label>
                        <span>Email</span>
                        <input type="email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                            [ngClass]="((submitted || emailId.touched) && emailId.invalid)?'has-danger':''"
                            name="emailId" #emailId=ngModel [(ngModel)]="register.emailId" autocomplete="off"
                            required />
                    </label>
                    <div class="error-block pl-2" *ngIf="((submitted || emailId.touched) && emailId.invalid)">
                        {{showErrorService.showError('emailId', emailId.errors)}}
                    </div>
                </div>
                <div class="col-md-6">
                    <label>
                        <span>Mobile</span>
                        <input type="text" [ngClass]="((submitted || mobile.touched) && mobile.invalid)?'has-danger':''"
                            name="mobile" #mobile=ngModel [(ngModel)]="register.mobile"
                            (keydown)="restrictKeyPressService.AllowNumbers($event)" minlength="10" maxlength="10"
                            autocomplete="off" required />
                    </label>
                    <div class="error-block pl-2" *ngIf="((submitted || mobile.touched) && mobile.invalid)">
                        {{showErrorService.showError('mobile', mobile.errors)}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label>
                        <span>Password</span>
                        <input type="password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]$"
                            [ngClass]="((submitted || password.touched) && password.invalid)?'has-danger':''"
                            name="password" #password=ngModel [(ngModel)]="register.password" autocomplete="off"
                            required />
                    </label>
                    <div class="error-block pl-2" *ngIf="((submitted || password.touched) && password.invalid)">
                        {{showErrorService.showError('password', password.errors)}}
                    </div>
                </div>
                <div class="col-md-6">
                    <label>
                        <span>Confirm Password</span>
                        <input type="password"
                            [ngClass]="((submitted || confirmPassword.touched) && confirmPassword.invalid)?'has-danger':''"
                            name="confirmPassword" #confirmPassword=ngModel [(ngModel)]="register.confirmPassword"
                            autocomplete="off" required />
                    </label>
                    <div class="error-block pl-2"
                        *ngIf="((submitted || confirmPassword.touched) && confirmPassword.invalid)">
                        {{showErrorService.showError('confirmPassword', confirmPassword.errors)}}
                    </div>
                </div>
                <div class="error-block pl-2" *ngIf="showErrPassword && register.confirmPassword && register.password">
                    Password & Confirm Password should be same
                </div>
            </div>
            <button type="submit" class="submit">Register</button>
        </div>
    </form>
    <div class="sub-cont">
        <div class="img">
            <div class="img__text m--up">
                <h2>One of us?</h2>
                <p>If you already has an account, just sign in. We've missed you!</p>
            </div>
            <div class="img__btn" [routerLink]="[URLConstants.LOGIN]">
                <span class="m--up">Login</span>
            </div>
        </div>
    </div>
</div>