<div class="cont">
    <div class="form sign-in">
        <h2>Time to feel like home,</h2>
        <label>
            <span>Name</span>
            <input type="text" />
        </label>
        <label>
            <span>Email</span>
            <input type="email" />
        </label>
        <label>
            <span>Password</span>
            <input type="password" />
        </label>
        <button type="button" class="submit">Register</button>

        <div class="text-center pt-2 pb-2">
            <span class="txt1">
                Or login with
            </span>
        </div>
        <div class="flex-c p-b-112">
            <a href="#" class="login100-social-item">
                <i class="fa fa-facebook"></i>
            </a>
            <a href="#" class="login100-social-item">
                <img src="assets/images/icon-google.png" alt="GOOGLE">
            </a>
            <a href="#" class="login100-social-item">
                <i class="fa fa-twitter"></i>
            </a>
        </div>

    </div>
    <div class="sub-cont">
        <div class="img">
            <div class="img__text m--up">
                <h2>One of us?</h2>
                <p>If you already has an account, just sign in. We've missed you!</p>
            </div>
            <div class="img__btn" [routerLink]="[URLConstants.LOGIN]">
                <span class="m--up">Login</span>
            </div>
        </div>
    </div>
</div>